/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    padding-top: 100px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  .hand-pointer {
    cursor: pointer;
  }

  /* Start: Loader Icon */
.div-fake-hidden {
  width:0px;
  height:0px;
  overflow:hidden;
}

#page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0; 
  background: rgba(0,0,0,0.8); 
  z-index: 100000;
  overflow: hidden;
}
.loader {
  width: 100%;
  height: 100%;
  background: url('load-icon.gif') no-repeat;
  position: absolute;
  top: 39%;
  left: 39%;
}
 /* End: Loader Icon */