 .container {
   background:linear-gradient(to top, #16222A , #3A6073);
   border-radius: 5px;
   box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
   width:450px;
   display: flex;  
   flex-direction: column;
 }

 .img-logo{
   position: absolute;
   top: 10px;
   padding: 10px 0 0 10px;
 }
 .logo{
   font-family: "museo-slab";  
   font-size:20px;
   text-align: center;
   padding: 20px 20px 0;
   margin:0;
 }
 
 .login-item {
     color: #ffff;
     padding:25px 25px 0;
     margin: 20px 20px 0;	
     border-radius: 3px;
 }
 
 input {
   border: 0;
   color: inherit;
   font: inherit;
   margin: 0;
   outline: 0;
   padding: 0;
   -webkit-transition: background-color .3s;
   transition: background-color .3s;
 }
 
 .user:before {
   content: '\f007';
   font: 14px fontawesome;
     color: #5b5b5b;
 }
 
 .lock:before {
   content: '\f023';
   font: 14px fontawesome;
     color: #5b5b5b;
 }
 
 .form input[type="password"], .form input[type="text"], .form input[type="submit"], input[type="button"] {
   width: 100%;
 }
 
 .form-login label,
 .form-login input[type="text"],
 .form-login input[type="password"],
 .form-login input[type="submit"],
 input[type="button"] {
   border-radius: 0.25rem;
   padding: 1rem;
   color: #3A3F44;  
 }
 
 .form-login label {
   background-color: #222222;
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
 }
 
 .form-login input[type="text"], .form-login input[type="password"] {
   background-color: #ffffff;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
 }
 .form-login input[type="text"]:focus, .form-login input[type="text"]:hover, .form-login input[type="password"]:focus, .form-login input[type="password"]:hover {
   background-color: #eeeeee;
 }
 .form-login input[type="submit"], input[type="button"] {
   background-color: #00B9BC;
   color: #eee;
   font-weight: bold;
   text-transform: uppercase;
   cursor: pointer;
 }
 .form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover, input[type="button"]:focus, input[type="button"]:hover {
   background-color: #197071;
 }
 .form-field {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 2rem;
 }
 .hidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }

 .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
 }

 .login-page-btn{
    float: right;
    background-color: #fff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
 }

 .inline{
    display: inline-block;
 }

 .white{
   color: white;
 }